@model MusicStore.WebUI.Models.AlbumViewModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*@section Sidebar{
<div class="view">*@
    <ul>

        @foreach (var genre in Model.Genres)
        {
            <li class="button">
                @Html.ActionLink(genre.Name,
                       "Browse")

            </li>

        }

    </ul>
@*</div>
    
    }*@



