
@using MusicStore.Domain.Entities
@{
    ViewBag.Title = "Checkout Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checkout Complete</h2>

<p>Thanks for your order!</p>

<p>
    How about shopping for some more music in our
    @Html.ActionLink("Store", "Index", "Store")
</p>
