@*@model MusicStore.Domain.Entities.CartLine
@{
    Layout = null;
}
<div id="cart">
    <span class="caption">
        <b>Your cart:</b>
        @Model.Sum(x => x.Quantity) item(s),
        @Model.ComputeTotalValue().ToString("c")
    </span>
</div>*@
