@model IEnumerable<MusicStore.Domain.Entities.Album>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <input type="text" id="searchstring" name="searchstring" />
    <table id="jqtable"></table>
    <div id="pjqtable"></div>
    <input type="submit" />
}
