@model IEnumerable<MusicStore.Domain.Entities.Artist>

@{
    ViewBag.Title = "Index";
}

<ul id="album-list">
    @foreach (var artist in Model)
    {
        <li>
         
        </li>
    }
</ul>




